.dashboard-container {
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
  }
  
  .dashboard-container h1 {
    font-size: 2.5rem;
    color: #333;
  }
  

  .dashboard-container {
    padding: 2rem;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .dashboard-container h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  .vault-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .vault-table th,
  .vault-table td {
    padding: 1rem;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 1rem;
  }
  
  .vault-table th {
    background-color: #f4f4f4;
    color: #555;
  }
  
  .vault-table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .password-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .toggle-password {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #555;
  }
  
  .toggle-password:hover {
    color: #000;
  }
  
  a {
    color: #1a73e8;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .add-app-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 40px;
    height: 60px;
    width: 190px;
  }
  
  .add-app-button:hover {
    background-color: #0056b3;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90%;
  }
  
  .modal-content h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .modal-content label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
  }
  
  .modal-content input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .submit-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #218838;
  }
  
  .cancel-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cancel-button:hover {
    background-color: #c82333;
  }